@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

input,
input:focus {
  border: none;
  outline: none;
}

.unvisible {
  visibility: hidden;
}

.fact,
.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../public/image/carousel-bg-1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.brearcrumb:last-of-type span.slash {
  display: none;
}

.services-items:hover > * {
  color: White;
}

.services-items.isActive > * {
  color: White;
}

.book-service {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../public/image/carousel-bg-2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tech-figure::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: 0.4s;
  transform: scale(0);
}

.tech-item:hover .tech-figure::after,
.tech-item:hover .tech-social {
  transform: scale(1);
}

.tech-social {
  transform: scale(0);
}

/* .react-multi-carousel-dot-list li button {
  background-color: red;
} */

.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../../public/image/carousel-bg-1.jpg") center center no-repeat;
  background-size: cover;
}
